torch==1.5.1
Jinja2==2.11.2
numpy==1.19.3
scikit-learn==0.23.1
rai_core_flask==0.0.2
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-datasets==4.1.0
tensorflow-estimator==2.4.0
tensorflow-metadata==0.25.0
Pillow==7.2.0
mlflow==1.12.1
greenlet==0.4.16
